# Unity generated
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Visual Studio
*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.suo
*.vs/
.vs/

# JetBrains
.idea/
*.sln.iml

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
